* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    color: #f1eceb;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    /*background-color: #101e49;*/
    background: url("./Assets/img/zvezdy.jpg") center no-repeat;
}

.App {
    background: linear-gradient(-45deg, #491e99, #752adc, #1920b8, #712bb6);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    padding: 10px;
    position: relative;
    margin: 20px auto;
    height: 500px;
    width: 500px;
    border: 3px solid #ac551b;
    border-radius: 10px;
    box-shadow: 0 15px 20px black;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*.App .Item:nth-child(-n+2) {*/
/*  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);*/
/*}*/

.Queue {
    position: absolute;
    top: -9550px;
    left: 40px;
    height: 10000px;
    width: 400px;
    /*border: 1px solid #1b26ac;*/
    border-radius: 50px;
    overflow: hidden;
    transition-duration: 0.5s;
}